/* Container styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    /* background-color: #f4f4f4; */
}

/* Form styling */
.login-form {
    background: #EAF5F1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Title styling */
.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
}

/* Input group styling */
.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

.input-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
}

/* Password container styling */
.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-container input {
    flex: 1;
}

.toggle-password {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555555;
}

/* Button styling */
.login-button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(101, 170, 101);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: #006432;
}

.login-form input{
    width: 100%;
    background-color: #c6e6da;
}
.login-form input:focus {
    outline: none; 
    border-color:lightseagreen;
    box-shadow: 0px 0px 4px rgba(62, 160, 42, 0.5);
}