.book-now-container {
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  background-color: #edf6f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-now-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.book-now-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.book-now-form input{
  width: 100%;
  background-color: #c6e6da;
}
.book-now-form input:focus {
  outline: none; 
  border-color:lightseagreen;
  box-shadow: 0px 0px 4px rgba(62, 160, 42, 0.5);
}

.book-now-inp {
  display: flex;
  flex-direction: column;
}

.book-now-inp label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.book-now-inp input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-now-inp input:focus {
  border-color: #65AA65 !important;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 157, 87, 0.596);
}

.submit-btn {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #65AA65;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #3c653c;
}

.back{
  background-color: #424242;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
.back:hover{
  background-color: black;
}