.navbar {
    background-color: #444;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin: 0 !important; 
    width: 100%;
    position:fixed;
    top: 0;
    color: white;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease; /* Added transform transition */
    font-weight: bold;
}

.navbar a:hover {
    color: #8AC54A; /* Change text color on hover */
    transform: scale(1.1); /* Scale effect on hover */
}

.navbar a::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #8AC54A; /* Change to your desired color */
    transition: width 0.3s ease; /* Animation for the underline effect */
}

.navbar a:hover::before {
    width: 100%; /* Expands the border to full width on hover */
}